:root {
    --clr-blue: #bde0fe;
    --clr-pink: #ffc8dd;
    --clr-pink-shaded: #ffafcc;
    --clr-purple: #cdb4db;
    --clr-blue-shaded: #a2d2ff;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: "JetBrains Mono", monospace;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--clr-blue);
    flex-direction: column;
    align-items: center;

}

.button {
    font-family: "JetBrains Mono", monospace;
    padding: 1em;
    font-size: 16px;
    margin-top: 15vh;
    border: none;
    width: 300px;
    height: 300px;
    background-color: var(--clr-pink);
    color: white;
    font-weight: 700;
    border-radius: 125px;
    transition: 0.3s;
    box-shadow: 5px 10px var(--clr-blue-shaded);
    cursor: pointer;
}

.span {
    position: relative;
    transition: 0.5s;
}

.span::after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    margin-left: 100px;
    transition: 0.75s;
}

.button:hover span{
    padding-right: 75px;
}

.button:hover span::after {
    opacity: 1;
    margin-left: 5px;
}

.button:hover {
    background-color: transparent;
    border: 2px solid white;
}


.button:active {
    box-shadow: 0 5px var(--clr-blue-shaded);
    transform: translateY(5px);
}

.item {
    margin-top: 10vh;
    width: 50vw;
    height: 25px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 50px;

}

.bottom {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: auto;
}